<!-- Page Content -->
        <div class="page-inner">

        	<div class="row">

			    <div class="col-sm-12">
		        	<div class="locationHeader">Registries</div>
					<div class="locationAddress">
						We would love to celebrate with you on our wedding day and your company is all the wedding gift we need.
            <br/><br/>
            But if you would like to get us a gift we will be registered with John Lewis gift list number 000650057 which will be open from 1st March 2016.
            <br/><br/>
            <a class="btn btn-default" target="_blank" href="https://www.johnlewisgiftlist.com/giftint/JSPs/GiftList/BuyGifts/GuestFindAList.jsp">John Lewis Gift List</a>

					</div>

			</div>

	    </div>


