<!-- Page Content -->
      

	<div class="coverPhoto" ng-style="style()" resize>

		<div class="coverBox">
			<div class="coverText">
				Invite you to celebrate their wedding in
			</div>
			<div class="coverText2">
				<timer countdown=dateDifference  interval="1000">{{days}} day{{daysS}}, {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}</timer>
			</div>

		</div>

    </div>


    <div class="rsvpBtnContainer">

    	<center><a class="btn btn-default rsvpBtn" href="#/rsvp">RSVP</a></center>

    </div>
	  
	            
