<!-- Page Content -->
        <div class="page-inner_2">
        	<div class="row">

        		<div class="col-sm-4">
        			<div class="location">
		        		<div class="locationHeader">Wedding Ceremony</div>
		        		<div class="locationAddress">
    							Chester Cathedral<br/>
    							Saint Werburgh Street,<br/>
    							Chester, CH1 2DY
    						</div>
    						<a href="https://maps.google.com/maps?saddr=Current+Location&daddr=Chester Cathedral, Saint Werburgh Street, Chester, CH1 2DY, UK" target="_blank" class="btn btn-default">Get Directions</a>
    					</div>

    					<div class="location">
  		        	<div class="locationHeader">Reception</div>
  		        	<div class="locationAddress">
    							Chester Town Hall<br/>
    							Princess St,<br/>
    							Chester, CH1 2HZ
    						</div>
    						<a href="https://maps.google.com/maps?saddr=Current+Location&daddr=Chester Town Hall, Princess St, Chester, CH1 2HZ, UK" target="_blank" class="btn btn-default">Get Directions</a>
    					</div>
	        	</div>


        		<div class="col-sm-8">
	        		<map zoom="15" center="[53.191975,-2.892173]">
    					  <marker position="[53.191548, -2.891277]" />
    					  <marker position="[53.191882, -2.892757]" />
    					</map>
	        	</div>


	        </div>

	        <div class="row">
            <div class="col-sm-12"><div class="locationHeader">Accommodation</div></div>
				      <div class="col-sm-6 locationAddress">
					      We're getting married in our home town of Chester. It's a beautiful corner of the UK - why not make a long weekend of it?! In this section you will find details of places to stay, most of which are walking distance from the Cathedral and Town Hall. We hope this will help you to find somewhere to stay for the weekend of our wedding if you're travelling to join us (..but as it's a Bank Holiday weekend places are likely to fill up fast so best get booking!)
				      </div>
				      <div class="col-sm-6 locationAddress">
					      We have reserved a number of rooms at the Holiday Inn Express at Chester Racecourse, a short walk from both venues. The rate is £105 per night Bed and Breakfast and free parking. Guests are asked to call 01244 327 900, quote ‘Hayle wedding allocation’ and provide their card details to secure the booking.
				      </div>

	        </div>

	        <div class="hotels">

		        <div class="row hotelRow2">
		          
        			<div class="col-sm-4 location">
		        		<div class="locationHeader">Holiday Inn Express</div>
		        		<div class="locationAddress">
		        			Chester Racecourse,<br/>
							    Chester, CH1 2LY<br/>
							    Tel: 01244 327 900
						    </div>
  							<a target="_blank" <a href="http://www.ihg.com/holidayinnexpress/hotels/gb/en/chester/chetr/hoteldetail" target="_blank" class="btn btn-default">Website</a>
  						</div>
    						
				    </div>
				    
    				<div class="row hotelRow">
    
        			<div class="col-sm-4 location">
		        		<div class="locationHeader">City Centre Locations</div>
					    </div>

        			<div class="col-sm-4 location">
		        		<div class="locationHeader">The Chester Grosvenor</div>
		        		<div class="locationAddress">
		        			Eastgate Street,<br/>
								  Chester, CH1 1LT<br/>
								  Tel: 01244 324024
							  </div>
							  <a target="_blank" <a href="http://www.chestergrosvenor.com/" target="_blank" class="btn btn-default">Website</a>
						  </div>

        			<div class="col-sm-4 location">
		        		<div class="locationHeader">Travelodge Chester Central</div>
		        		<div class="locationAddress">
		        			St John Street,<br/>
								  Chester, CH1 1DD<br/>
								  Tel: 0871 984 6363
							  </div>
							  <a target="_blank" <a href="https://www.travelodge.co.uk/hotels/367/Chester-Central-hotel" target="_blank" class="btn btn-default">Website</a>
						  </div>

        			<div class="col-sm-4 location">
		        		<div class="locationHeader">Crowne Plaza Chester</div>
		        		<div class="locationAddress">
		        			Trinity Street,<br/>
								  Chester, CH1 2BD<br/>
								  Tel: 01244 899988
							  </div>
							  <a target="_blank" <a href="http://www.ihg.com/crowneplaza/hotels/gb/en/chester/chets/hoteldetail" target="_blank" class="btn btn-default">Website</a>
						  </div>

        			<div class="col-sm-4 location">
		        		<div class="locationHeader">Oddfellows Chester</div>
		        		<div class="locationAddress">
		        			20 Lower Bridge Street,<br/>
								  Chester, CH1 1RS<br/>
								  Tel: 01244 895700
							  </div>
							  <a target="_blank" <a href="http://www.oddfellowschester.com/" target="_blank" class="btn btn-default">Website</a>
						  </div>

        			<div class="col-sm-4 location">
		        		<div class="locationHeader">The Coach House Inn</div>
		        		<div class="locationAddress">
		        			39 Northgate Street,<br/>
								  Chester, CH1 2HQ<br/>
								  Tel: 01244 351900
							  </div>
							  <a target="_blank" <a href="http://www.coachhousechester.co.uk/" target="_blank" class="btn btn-default">Website</a>
						  </div>

				    </div>

				    <div class="row hotelRow">

        			<div class="col-sm-4 location">
		        		<div class="locationHeader">Near Chester train station</div>
		        		<div class="locationAddress">Walking distance if not in heels! </div>
						  </div>

        			<div class="col-sm-4 location">
		        		<div class="locationHeader">Best Western Premier Queen Hotel</div>
		        		<div class="locationAddress">
		        			63 City Road,<br/>
								  Chester, CH1 3AH<br/>
								  Tel: 0844 387 6225
							  </div>
							  <a target="_blank" <a href="https://www.bestwestern.co.uk/hotels/best-western-premier-queen-hotel-83825" target="_blank" class="btn btn-default">Website</a>
						  </div>

        			<div class="col-sm-4 location">
		        		<div class="locationHeader">Premier Inn Chester City Centre</div>
		        		<div class="locationAddress">
		        			20-24 City Road,<br/>
								  Chester, CH1 3AE<br/>
								  Tel: 0871 527 8234
							  </div>
							  <a target="_blank" <a href="http://www.premierinn.com/en/hotel/CHEBAR/chester-city-centre" target="_blank" class="btn btn-default">Website</a>
						  </div>

				    </div>

				    <!--<div class="row hotelRow">

        			<div class="col-sm-4 location">
		        		<div class="locationHeader">Another Option</div>
		        		<div class="locationAddress">
		        			This hotel is very near to our house, you would need a taxi into town but the parking is free.
							  </div>
						  </div>

        			<div class="col-sm-4 location">
		        		<div class="locationHeader">Chester Central North Hotel</div>
		        		<div class="locationAddress">
		        			76 Liverpool Road,<br/>
								  Chester, CH2 1AU<br/>
								  Tel: 0871 527 8230
							  </div>
							  <a target="_blank" <a href="http://www.premierinn.com/en/hotel/CHEEGE/chester-central-north?cmp=GLBC" target="_blank" class="btn btn-default">Website</a>
						  </div>
					  
					  </div>-->

				  </div>


	      </div>



